*{
    margin: 0%;
    padding: 0%;
}
footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 3%;
    font-family: "Roboto Mono", monospace;
    margin-top: 2%;
}
.contactimg{
    width: 15%;
}
.contactimg:hover{
    margin-top: 2%;
}
.heading{
    color: white;
    font-size: 2rem;
    margin-bottom: 5%;
}
.cc{
    color: white;
    font-size: 1.5rem;
    margin-left: 10%;
    margin-top: 5%;
}
.footerimg{
    width: 70%;
    
}
a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.shopping{
    margin-left: 10%;
    width: 80%;
}
.orderdetails{
    margin-left: 2%;
    width: 80%;
}
.reachtous{
    margin-left: 2%;
    width: 50%;

}