* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.box {
    width: calc(23% - 60px); /* 4 divs in a row for larger screens */
    height: 500px; 
    margin: 10px;
    padding: 10px; 
    border: 1px solid #00000033;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: background-color 0.3s;
    box-sizing: border-box;
}


.box:hover {
    background-color: rgba(128, 128, 128, 0.151);
    cursor: pointer;
}

.image {
    height: 70%;
    width: 100%;
    object-fit: contain;
}

.content {
    font-size: large;
    color: #000;
    text-align: left;
}

.price {
    font-size: 1em;
    color: #000;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: left;
}


.add_cart_btn {
    font-size: 1em;
    padding: 10px;
    border-radius: 8%;
    background-color: #000;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
    .add_cart_btn {
        font-size: 0.9em;
        padding: 8px;
    }
}

@media screen and (max-width: 768px) {
    .add_cart_btn {
        font-size: 0.8em;
        padding: 7px;
    }
}

@media screen and (max-width: 480px) {
    .add_cart_btn {
        font-size: 0.7em;
        padding: 6px;
    }
}

 .add_cart_btn:hover {
    background-color: rgb(226, 0, 0);
} 

.heart {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.heart img {
    height: 100%;
    width: 100%;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
    .box {
        width: calc(30% - 20px); /* 3 divs in a row for mid-wide screens */
    }
    .heart{
        width: calc(40% - 20px);
        height: calc(20% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .box {
        width: calc(50% - 20px); /* 2 div in a row for smaller screens */
        height: calc(60% - 20px);
    }
}
