*{
    margin: 0%;
    padding: 0%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: calc(23% - 20px); /* 4 divs in a row for larger screens */
    height: 600px; 
    margin: 10px;
    padding: 10px; 
    border: 1px solid #00000033;
    text-align: center;
    box-sizing: border-box;
}
.box:hover{
    background-color: rgba(128, 128, 128, 0.151);
    cursor: pointer;
            }

.image {
    height: 70%;;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    background: none;
}

.content {
    font-size: 1.2em;
    color: #000;
    margin-bottom: 10px;
    font-family: "Roboto Mono", monospace;
}

.price {
    font-size: 1em;
    color: #000;
    margin-bottom: 20px;
    font-family: "Roboto Mono", monospace;
}

.add_cart_btn {
    font-size: 1em;
    padding: 10px;
    border-radius: 8%;
    background-color: #000;
    color: white;
    cursor: pointer;
    display: inline-block;
}
.heart{
    height: 45px;
    width: 45px;
}
.heart img{
    height: 90%;
    width: 90%;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1024px) {
    .box {
        width: calc(40% - 20px); /* 2 divs in a row for medium screens */
    }
}

@media screen and (max-width: 768px) {
    .box {
        width: calc(80% - 20px); /* 1 div in a row for smaller screens */
        height: auto;
    }
}