body{
    margin: 0%;
    padding: 0%;
    font-family: "Roboto Mono", monospace;

}
.heading-top{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 3%;
    text-align: center;
    
}
.sentence{
    font-size: 0.58rem;
    font-weight: 300;
    text-align: center;
    margin-top: 5px;
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.number{
    outline: none;
    border: none;
    width: 100%;
   height: 70%;
   border-radius: 8px;
}
.input{
    border: 1px solid rgba(128, 128, 128, 0.622);
    width: 23%;
    height: 35px;
    display: flex;
    margin: auto;
    align-items:center ;
    border-radius: 8px;
    padding-left: 5px;
    margin-top: 10px;
}
::placeholder{
    color: grey;
    opacity: 0.3;
}
.otp{
    background-color: black;
    color: white;
    cursor: pointer;
    width: 10%;
    height: 43px;
    border-radius: 11px;
    border-style: outset;
    display: block;
    margin: auto;
    margin-top: 1%;
}
.sentence1{
    font-size: 0.58rem;
    font-weight: 200;
    text-align: center;
    margin-top: 1%;
}
.signup{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.line1{
    border-top: 2px solid rgba(178, 175, 175, 0.651);
    width: 5%;
    height: 0px;
    position: relative;
    top: 21px;
    right: 1%;
}
.sign{
    margin-top: 12px;
    font-size: 0.82rem;
    text-align: center;
}
.line2{
    border-top: 2px solid rgba(178, 175, 175, 0.651);
    width: 5%;
    height: 0px;
    position: relative;
   top: 21px; 
   left: 1%;
   
}
.email-button{
    border: 1px solid rgba(152, 147, 147, 0.638);
    background-color: white;
    color:black;
    cursor: pointer;
    width: 10%;
    height: 43px;
    border-radius: 11px;
    display: block;
    margin: auto;
    box-shadow: none;
    outline: none;
    margin-top: 1%;
}

.link{
    text-decoration: none;
    color: black ;
}
.errormessage{
    color: red;
    text-align: center;
    font-size: 0.65rem;
    display: none;

}


@media screen and (max-width:600px) {
    .sentence{
        font-size: 0.52rem;
        font-weight: 300;
        text-align: center;
        margin-top: 5px;
        
    }
    .heading-top{
        font-size: 2rem;
        font-weight: 700;
        margin-top: 8%;
        text-align: center;
    }
    .input{
        border: 1px solid rgba(128, 128, 128, 0.622);
        width: 80%;
        height: 35px;
        display: flex;
        margin: auto;
        align-items:center ;
        border-radius: 8px;
        padding-left: 5px;
        margin-top: 13px;
    }
    .otp{
        background-color: black;
        color: white;
        cursor: pointer;
        width: 40%;
        height: 43px;
        border-radius: 11px;
        border-style: outset;
        display: block;
        margin: auto;
        margin-top: 5%;
    }
    .email-button{
        border: 1px solid rgba(152, 147, 147, 0.638);
        background-color: white;
        color:black;
        cursor: pointer;
        width: 40%;
        height: 43px;
        border-radius: 11px;
        display: block;
        margin: auto;
        box-shadow: none;
        outline: none;
        margin-top: 5%;
        
    }
    .line1{
        border-top: 2px solid rgba(178, 175, 175, 0.651);
        width: 17%;
        height: 0px;
        position: relative;
        top: 21px;
        right: 5%;
    }
    .line2{
        border-top: 2px solid rgba(178, 175, 175, 0.651);
        width: 17%;
        height: 0px;
        position: relative;
       top: 21px; 
       left: 5%;
       
    }
    .sentence1{
        font-size: 0.55rem;
        font-weight: 200;
        text-align: center;
        margin-top: 10px;
    }
    .errormessage{
        color: red;
        text-align: center;
        font-size: 0.55rem;
        display: none;
    
    }
}
@media screen and (max-width:900px)and (min-width:600px){
    .sentence{
        font-size: 0.55rem;
        font-weight: 300;
        text-align: center;
        margin-top: 5px;
        
    }

    .heading-top{
        font-size: 2rem;
        font-weight: 700;
        margin-top: 6%;
        text-align: center;
    }
    .input{
        border: 1px solid rgba(128, 128, 128, 0.622);
        width: 47%;
        height: 35px;
        display: flex;
        margin: auto;
        align-items:center ;
        border-radius: 8px;
        padding-left: 5px;
        margin-top: 13px;
    }
    .otp{
        background-color: black;
        color: white;
        cursor: pointer;
        width: 20%;
        height: 43px;
        border-radius: 11px;
        border-style: outset;
        display: block;
        margin: auto;
        margin-top: 2%;
    }
    .line1{
        border-top: 2px solid rgba(178, 175, 175, 0.651);
        width: 10%;
        height: 0px;
        position: relative;
        top: 21px;
        right: 5%;
    }
    .line2{
        border-top: 2px solid rgba(178, 175, 175, 0.651);
        width: 10%;
        height: 0px;
        position: relative;
       top: 21px; 
       left: 5%;
       
    }
    .sentence1{
        font-size: 0.53rem;
        font-weight: 200;
        text-align: center;
        margin-top: 10px;

    }
    .email-button{
        border: 1px solid rgba(152, 147, 147, 0.638);
        background-color: white;
        color:black;
        cursor: pointer;
        width: 20%;
        height: 43px;
        border-radius: 11px;
        display: block;
        margin: auto;
        box-shadow: none;
        outline: none;
        margin-top: 2%;
        
    }
}
   